<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.degradators.degradators">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".di.DegradatorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.addArticles.AddArticleActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_article"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_account" />

        <activity
            android:name=".ui.detail.DetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:label="@string/detail" />

        <activity
            android:name=".ui.video.PlayerActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:label="@string/detail" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
    </application>

</manifest>